# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
matplotlib==2.2.0
numpy==1.19.2
pyrr==0.10.3
python==3.6.13
pip==21.0.1
pandas==1.1.3
threadpool
